@keyframes fade-in-transition {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes shared-axis-transition-left-to-center {
    from {
        transform: translate(-30px, 0);
    }
    to {
        transform: translate(0, 0);
    }
}

@keyframes shared-axis-transition-right-to-center {
    from {
        transform: translate(30px, 0);
    }
    to {
        transform: translate(0, 0);
    }
}

@keyframes shared-axis-transition-top-to-center {
    from {
        transform: translate(0, -30px);
    }
    to {
        transform: translate(0, 0);
    }
}

@keyframes shared-axis-transition-bottom-to-center {
    from {
        transform: translate(0, 30px);
    }
    to {
        transform: translate(0, 0);
    }
}

@keyframes shared-axis-transition-up-to-center {
    from {
        transform: scale(110%);
    }
    to {
        transform: scale(100%);
    }
}

@keyframes shared-axis-transition-down-to-center {
    from {
        transform: scale(80%);
    }
    to {
        transform: scale(100%);
    }
}

@keyframes fade-through-transition {
    from {
        transform: scale(92%);
    }
    to {
        transform: scale(100%);
    }
}
